$black-color: #000;
$white-color: #FFF;
$principal-color: #4997EF;

.navbar {
	.container {
		.navbar-brand {

		}
		.navbar-toggler {
			i {

			}
		}
		.collapse {
			.navbar-nav {
				.nav-item {
					a {
						color: $principal-color;
					}
					&.login {
						background: linear-gradient(to right, rgba(68, 129, 235, 0.9), rgba(4, 190, 254, 0.9));
						border-radius: 5px;
						box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);
						a {
							color: $white-color;
						}
					}
				}
			}
		}
	}
}



.container {
  &.home {
		.card {
			&.slide-games {
				box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.10);
			}
			&.list-games {
				margin-top: 15px;
				box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.10);
				.item-game {
					align-items: center;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 10px;
					transform: scale(1);
					transition: all ease .2s;
					&:hover {
						cursor: pointer;
						transform: scale(1.02);
					}
					a {
						color: inherit;
						&:active {
							color: inherit;
						}
						&:hover {
							color: inherit;
							text-decoration: none;
						}
						img {

						}
						h3 {
							color: $black-color;
							font-size: 20px;
							font-weight: bold;
							margin: 0px;
							margin-top: 10px;
						}
						h6 {
							color: #8D8D8D;
							font-size: 12px;
							font-weight: 300;
							margin: 0px;
						}
						p {
							color: $principal-color;
							font-size: 25px;
							font-weight: bold;
							margin: 0px;
						}
					}
				}
			}
		}
	}
}

.card-detail {
	.row {
		.game-image {
			max-height: 500px;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: #EFEFEF;
			img {
				width: 400px;
			}
		}
		.game-infos {
			h3 {
				color: $principal-color;
				margin: 0px;
			}
			h6 {
				font-size: 16px;
				font-weight: bold;
				color: #333;
			}
			.year {
				font-size: 12px;
				font-weight: 300;
				color: #8D8D8D;
			}
			.price {
				font-weight: bold;
				color: $principal-color;
				font-size: 30px;
				display: block;
				text-align: right;
			}
			.button-purchase {
				padding: 20px;
				background: $principal-color;
				width: 100%;
				display: block;
				text-align: center;
				color: $white-color;
				font-size: 18px;
				font-weight: bold;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}


.login-infos {
	display: flex;
	align-items: center;
	justify-content: center;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
		&:hover {
			text-decoration: none;
		}
		.photo-container {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 10px;
			img {
				width: 100%;
			}
		}
	}
}