.navbar .container .collapse .navbar-nav .nav-item a {
  color: #4997EF;
}
.navbar .container .collapse .navbar-nav .nav-item.login {
  background: linear-gradient(to right, rgba(68, 129, 235, 0.9), rgba(4, 190, 254, 0.9));
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.navbar .container .collapse .navbar-nav .nav-item.login a {
  color: #FFF;
}

.container.home .card.slide-games {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.container.home .card.list-games {
  margin-top: 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.container.home .card.list-games .item-game {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  transform: scale(1);
  transition: all ease 0.2s;
}
.container.home .card.list-games .item-game:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.container.home .card.list-games .item-game a {
  color: inherit;
}
.container.home .card.list-games .item-game a:active {
  color: inherit;
}
.container.home .card.list-games .item-game a:hover {
  color: inherit;
  text-decoration: none;
}
.container.home .card.list-games .item-game a h3 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
}
.container.home .card.list-games .item-game a h6 {
  color: #8D8D8D;
  font-size: 12px;
  font-weight: 300;
  margin: 0px;
}
.container.home .card.list-games .item-game a p {
  color: #4997EF;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}

.card-detail .row .game-image {
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #EFEFEF;
}
.card-detail .row .game-image img {
  width: 400px;
}
.card-detail .row .game-infos h3 {
  color: #4997EF;
  margin: 0px;
}
.card-detail .row .game-infos h6 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.card-detail .row .game-infos .year {
  font-size: 12px;
  font-weight: 300;
  color: #8D8D8D;
}
.card-detail .row .game-infos .price {
  font-weight: bold;
  color: #4997EF;
  font-size: 30px;
  display: block;
  text-align: right;
}
.card-detail .row .game-infos .button-purchase {
  padding: 20px;
  background: #4997EF;
  width: 100%;
  display: block;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
}
.card-detail .row .game-infos .button-purchase:hover {
  text-decoration: none;
}

.login-infos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-infos a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.login-infos a:hover {
  text-decoration: none;
}
.login-infos a .photo-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.login-infos a .photo-container img {
  width: 100%;
}
